<?xml version="1.0" encoding="UTF-8"?>
<suite name="RestAssuredTest">
<Listeners>
          <Listener class-name="org.uncommons.reportng.HTMLReporter" />
          <Listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
</Listeners>
<test name="REST APIs">
   <classes>
      <class name="com.simplilearn.resttetsing.GetRequestTest"></class>
      <class name="com.simplilearn.resttetsing.PostRequestTest"></class>
      <class name="com.simplilearn.resttetsing.PutRequestTest"></class>
      <class name="com.simplilearn.resttetsing.DeleteRequestTest"></class>
      <class name="com.simplilearn.resttetsing.PatchRequestTest"></class>
   </classes>
</test>
<test name="SOAP APIs">
		<classes>
			<class name="com.simplilearn.soaptesting.GetCapitalByCountryCodeTest"></class>
			<class name="com.simplilearn.soaptesting.NumberToWordConversion"></class>
		</classes>
	</test>
	<test name="REST Auth">
		<classes>
			<class name="com.simplilearn.authtest.AuthenticationTest"></class>
			<class name="com.simplilearn.authtest.OAuthauthenticationTest"></class>
			<class name="com.simplilearn.authtest.SSLAuthenticationTest"></class>
		</classes>
	</test>
</suite>